.header-right {
  display: flex;
  flex-direction: row;
}

p {
  margin-bottom: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0d0d0;
}

a {
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  line-height: 50px;
  text-decoration: none;
}
.active {
  background: #000;
  color: #f0d0d0;
}

.title {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.title-name {
  font-size: 40px;
}
